.solidTable {
    border-collapse: collapse;
    border: 1px solid black;
    width: 25%;
}

.quantityCell {
    text-align: right;
    padding-right: 5px;
    border: 1px solid black;
}

.solidCell {
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: grey;
}

hr {
    border-top: 1px solid rgb(155, 206, 184);
}